/* Base styles */

// Colors
$blue-gray: #242e30;
$blue: #449bbe;


// Media queries
@mixin breakpoint($point) {
  @if $point == tablet-portrait {
    @media only screen and (min-width: 768px) and (max-width: 959px) { @content; } 
  }
  @else if $point == mobile-portrait {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $point == mobile-landscape {
    @media only screen and (min-width: 480px) and (max-width: 767px) { @content; }
  }
}


// Em function
@function em($target, $context: 21px) {
   @return #{$target / $context}em;
}


body {
	font: {
		family: "ff-tisa-web-pro", serif;
		size: 21px;
	}
	margin: 0;
	padding: 0;
	min-height: 1500px;
	@include breakpoint(mobile-portrait) {
		font-size: 18px;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: "brandon-grotesque", sans-serif;
	margin: 1em 0;
}
h1, h2, h3, h4 {
	font-weight: 300;
	text-transform: uppercase;
}
h3 {
	font-size: em(36px);
	@include breakpoint(mobile-portrait) {
		font-size: em(24px);
	}
}
p {
	color: #333;
	line-height: 1.75em;
	margin: 1em 0;
}