/* Modules */


// Header module
header {
	background: url(../img/bg_header.jpg) center top no-repeat;
	background-size: cover;
	padding: 30px 0;
	position: relative;
	* {
		position: relative;
		z-index: 3;
	}
	h2 {
		color: #fff;
		font-size: em(54px);
		margin: 1.5em 0 2.5em 0;
		position: relative;
		text-align: center;
		z-index: 3;
		em {
			font-style: normal;
			font-weight: 500;
		}
	}
	nav {
		.button {

		}
	}
	.fade-screen {
        background-color: darken($blue-gray, 7);
        display: block;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }
    @include breakpoint(mobile-portrait) {
    	h2 {
    		font-size: em(32px);
    	}
    	nav .button {
    		display: none;
    	}
    }
    @include breakpoint(tablet-portrait) {
    	h2 {
    		font-size: em(42px);
    	}
    }
}
.header__logo {
	background: url(../img/logo.png) left top no-repeat;
	background-size: 100%;
	margin: 5px 0 0 0;
	max-width: 175px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	@include breakpoint(mobile-portrait) {
		margin: 0 auto;
		width: 50%;
	}
}


// Layer module
.layer {
	padding: 50px 0;
	width: 100%;
	h3 {
		text-align: center;
		&:first-child {
			margin-top: 20px;
		}
	}
	&.-dark {
		//background: $blue-gray;
		color: #fff;
	}
}


// Team module
.team {
	background: url(../img/bg_pixels.jpg) left top repeat;
	 .row {
	 	margin-bottom: 30px;
	 }
}
.team__member {
	text-align: center;
	a {
		text-decoration: none;
	}
	img {
		width: 75%;
	}
	h4 {
		color: #fff;
		font-size: em(18px);
		margin: 0.5em 0 0 0;
	}
	h4 + p {
		color: lighten($blue-gray, 20);
		font-size: em(14px);
		margin-top: 0;
	}
	@include breakpoint(mobile-portrait) {
		padding: 20px 0;
		img {
			max-width: 70%;
		}
	}
}


// Footer module
footer {
	text-align: center;
	overflow: hidden;
}
.footer__logo {
	background: url(../img/logo_alt.png) left top no-repeat;
	background-size: 100%;
	margin: 60px auto 0 auto;
	max-width: 175px;
	min-height: 235px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	@include breakpoint(mobile-portrait) {
		margin: 60px auto 0 auto;
		min-height: 200px;
		width: 50%;
	}
	@include breakpoint(mobile-landscape) {
		min-height: 235px;
	}
}
.footer__logo + p {
	font-size: em(14px);
}


// Sharpspring form
iframe {
	width: 90%;
	@include breakpoint(mobile-portrait) {
		width: 100%;
	}
}
.sharpspring_form {
  	width: 100%;
  	.field {
	   padding-bottom: 15px;
	}
  	input, textarea {
 		background-color: #f8f8f8;
	    border: 1px solid #dfdfdf;
	    color: #555;
	    font-size: 18px;
	    padding: 10px;
	    margin-top: 7px;
  	}
  	label {
	    color: #aaa;
	    font-family: "brandon-grotesque", sans-serif;
	    font-size: 14px;
	    font-weight: 300;
	    text-transform: uppercase;
	    &.error {
			color: #fff;
		    margin-left: 0;
		    box-shadow: none;
		    padding: 5px 10px;
		}
	}
	#submit_button {
		@extend .button;
	}
}


// Buttons 
.button {
	background-color: $blue;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten($blue, 8)), to($blue));
	background-image: -webkit-linear-gradient(top, lighten($blue, 8), $blue); 
	background-image:    -moz-linear-gradient(top, lighten($blue, 8), $blue);
    background-image:     -ms-linear-gradient(top, lighten($blue, 8), $blue);
    background-image:      -o-linear-gradient(top, lighten($blue, 8), $blue);
	border-radius: 1px;
	color: #fff;
	display: inline-block;
	font: {
		family: "brandon-grotesque", sans-serif;
		size: em(14px);
		weight: 400;
	}
	padding: 0.85em 1.5em;
	text-decoration: none;
	text-shadow: 0 1px 0 lighten($blue-gray, 20);
	text-transform: uppercase;
	&:hover {
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten($blue, 13)), to(lighten($blue, 5)));
		background-image: -webkit-linear-gradient(top, lighten($blue, 13), lighten($blue, 5)); 
		background-image:    -moz-linear-gradient(top, lighten($blue, 13), lighten($blue, 5));
	    background-image:     -ms-linear-gradient(top, lighten($blue, 13), lighten($blue, 5));
	    background-image:      -o-linear-gradient(top, lighten($blue, 13), lighten($blue, 5));
	}
}

