/* Modules */


// Header module
header {
	background: url(../img/bg_header.jpg) center top no-repeat;
	background-size: cover;
	padding: 30px 0;
	position: relative;
	* {
		position: relative;
		z-index: 3;
	}
	h2 {
		color: #fff;
		font-size: em(54px);
		margin: 1.5em 0 2.5em 0;
		position: relative;
		z-index: 3;
		em {
			font-style: normal;
			font-weight: 500;
		}
	}
	nav {
	}
	.fade-screen {
        background-color: darken($blue-gray, 7);
        display: block;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}
.header__logo {
	background: url(../img/logo.png) left top no-repeat;
	background-size: 100%;
	margin: 5px 0 0 0;
	max-width: 175px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}


// Layer module
.layer {
	padding: 50px 0;
	width: 100%;
	h3 {
		text-align: center;
		&:first-child {
			margin-top: 20px;
		}
	}
	&.-dark {
		background: $blue-gray;
		color: #fff;
	}
}

// Buttons 
.button {
	background-color: lighten($blue-gray, 10);
	border-bottom: 3px solid lighten($blue-gray, 5);
	color: #fff;
	display: inline-block;
	font: {
		family: "brandon-grotesque", sans-serif;
		size: em(14px);
		weight: 400;
	}
	padding: 0.85em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		background-color: lighten($blue-gray, 15);
		border-bottom: 3px solid lighten($blue-gray, 8);
	}
}
