@import url(vendor/skeleton.css);
/* _____ _          _ _           _       
  |  __ (_)        | | |         | |      
  | |__) |__  _____| | |__   ___ | |_ ___ 
  |  ___/ \ \/ / _ \ | '_ \ / _ \| __/ __|
  | |   | |>  <  __/ | |_) | (_) | |_\__ \
  |_|   |_/_/\_\___|_|_.__/ \___/ \__|___/ */
/* Base styles */
body {
  font-family: "ff-tisa-web-pro", serif;
  font-size: 21px;
  margin: 0;
  padding: 0;
  min-height: 1500px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "brandon-grotesque", sans-serif;
  margin: 1em 0; }

h1, h2, h3, h4 {
  font-weight: 300;
  text-transform: uppercase; }

h3 {
  font-size: 1.71429em; }

p {
  color: #333;
  line-height: 1.75em;
  margin: 1em 0; }

/* Layout styles */
.-left {
  float: left; }

.-right {
  float: right; }

.-text-center {
  text-align: center; }

.-text-left {
  text-align: left; }

.-text-right {
  text-align: right; }

/* Modules */
.button {
  background-color: #3a4a4d;
  border-bottom: 3px solid #2f3c3f;
  color: #fff;
  display: inline-block;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 0.66667em;
  font-weight: 400;
  padding: 0.85em 1.5em;
  text-decoration: none;
  text-transform: uppercase; }
  .button:hover {
    background-color: #45585c;
    border-bottom: 3px solid #354447; }
